.header{

    color:rgb(40, 194, 143);
    background-color:honeydew;
}
.heading{

    color:lavenderblush;
    background-color:burlywood;


}
.paragraph{

    color:lemonchiffon;
    background-color:burlywood;
}